<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-android-packagemanager" version="0.0.1">
    <name>AndroidPackageManager</name>
    <js-module src="www/AndroidPackageManager.js" name="AndroidPackageManager">
        <clobbers target="cordova.plugins.morethani.packagemanager" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AndroidPackageManager">
                <param name="android-package" value="cordova.plugins.morethani.packagemanager.AndroidPackageManager"/>
            </feature>
        </config-file>
		<config-file mode="merge" parent="/manifest" target="AndroidManifest.xml">
	        <uses-permission android:name="android.permission.GET_TASKS"/>
	    </config-file>
        <source-file src="src/android/AndroidPackageManager.java" target-dir="src/cordova/plugins/morethani/packagemanager" />
    </platform>
</plugin>
